body {
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(153, 86, 153);
    margin: 0px;
}

header {
    font-size: 18px;
    text-align: center;
    background-image: linear-gradient(rgb(0, 0, 92), rgb(20, 20, 124));
    padding: 10px
}

.bio {
    font-size: 18px;
    padding: 10px;
}
.topics {
    font-size: 18px;
    padding: 10px;
    color: red;
}